.product {
	border: var(--border);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px;
	overflow: hidden;
	height: 100%;
}

.product_inner {
	position: relative;
	height: 120px;
}
.image {
	width: 0px;
	height: 0px;
	border-radius: 12px;
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100%;
	object-fit: cover;
}

.content {
	padding: 1rem;
}

.title {
	margin: 3px 0;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	/* font-size: 17px; */
}

.price {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 3px;
}
.product_actions {
	text-align: center;
}

.add_basket_btn {
	background-color: var(--primary-color);
	color: white;
	border: none;
	padding: var(--btn-padding);
	border-radius: var(--sm-radius);
	cursor: pointer;
}
.increment_btn {
	background-color: var(--primary-color);
	color: white;
	border: none;
	padding: var(--btn-padding);
	border-radius: var(--sm-radius);
	cursor: pointer;
}
.decrement_btn {
	background-color: var(--red-color);
	color: white;
	border: none;
	padding: var(--btn-padding);
	border-radius: var(--sm-radius);
	cursor: pointer;
}
.product_count {
	margin: 0 5px;
}
