

.product {
	/* box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); */
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}

.image {
	width: 100%;
	object-fit: contain;
	height: 100px;
}

.content {
	padding: 1rem;
}

.title {
	text-align: center;
	margin-bottom: 3px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.price {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 3px;
}

.basket_btn {
	/* make it btn beautiful using geen color */
	background-color: green;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}
.increment_btn {
	background-color: green;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}
.decrement_btn {
	background-color: red;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}
.product_count {
	margin: 0 5px;
}

