.basket_card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: var(--border);
	margin-bottom: 10px;
	border-radius: 12px;
}
.basket_card__body {
	display: flex;
	align-items: center;
}

.basket_card__info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 20px;
}

.basket_card__img {
	width: 70px;
	height: 70px;
	object-fit: contain;
	min-width: 70px;
	min-height: 70px;
}

.basket_card__title {
	font-size: 1rem;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin: 0;
}

.basket_card__delete_btn {
	background-color: var(--red-color);
	color: white;
	border: none;
	padding: var(--btn-padding);
	cursor: pointer;
	border-radius: var(--sm-radius);
}
