.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	grid-gap: 1rem;
	padding-bottom: 70px;
}
.top_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem;
	text-align: end;
}
.bottom_btn {
	/* make me beautiful background color  make beautiful */
	background-color: #f1356d;
	color: white;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	cursor: pointer;
	border-radius: 22px;
}
