.drawer_header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	position: relative;
}
.drawer_header__btn {
	position: absolute;
	left: 0;
	background-color: var(--pink-color);
	color: white;
	border: none;
	padding: var(--btn-padding);
	border-radius: var(--sm-radius);
	cursor: pointer;
}

.empty_basket {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	font-weight: 900;
}

.total_price {
	margin-bottom: 10px;
}
