.drawer_header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	position: relative;
}
.drawer_header__btn {
	position: absolute;
	left: 0;
	top: 1rem;
	background-color: orange;
	color: white;
	border: none;
	padding: 4px 8px;
	border-radius: 4px;
	cursor: pointer;
}

.empty_basket {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	font-weight: 900;
	color: orange;
}
