:root {
	--primary-color: #008000;
	--red-color: #f44336;
	--pink-color: #f1356d;
	--border: 1px solid #cccccc5b;
	--sm-radius: 4px;
	--btn-padding: 0.5rem 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
html {
	scrollbar-gutter: stable;
}
body {
	background-color: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
}
.drawer {
	/* background-color: var(--tg-theme-bg-color) !important; */
	background-color: white;
	color: black;
	/* color: var(--tg-theme-text-color) !important; */
	overflow-y: auto;
}
#root {
	max-width: 900px;
	padding: 10px;
	margin: 0 auto;
}
